---
import background from "../assets/background.svg";
import "./Hero.css";
---

<div class="main-container">
  <img class="background" src={background.src} alt="" fetchpriority="high" />
  <main class="hero-container">
    <h1 class="hero-title">Tracker Description Generator</h1>
    <section></section>
  </main>
</div>
